{
  "presets": ["env", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    ["transform-es2015-modules-umd",
      {
        "globals": {
          "react": "React",
        },
      },
    ],
  ],
}
